.nextTimePreview {
  width: 100%;

  &_inner {
    display: block;
    max-width: 70%;
    background-color: $white;
    border: 2px solid $garnet;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 auto;
  }

  &_list {
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 15px 0;
    
    &:not(:first-child) {
      border-top: 1px solid $c-border;
    }
  }

  &_imageBox {
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: auto;
  }
  &_image {
    display: block;
    width: 100%;
    height: auto;
  }
  &_title,
  &_undecided {
    min-height: 50px;
    font-size: 16px;
  }
  &_title {
    display: flex;
    justify-content: left;
    /* flex-direction: column; */
    align-items: center;
    padding: 0 0 0 65px;
  }
  &_undecided {
    text-align: center;
    padding: 13px 28px;
  }
}

@media #{$smartphone} {
  .nextTimePreview {
    &_inner {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
    }
    &_list {
      &:not(:first-child) {
      }
    }
    &_imageBox {
    }
    &_image {
    }
    &_title {
      padding: 0 0 0 60px;
    }
  }
}
